<nav class="nav nav-tabs">
    <li class="tab__control__item"><a href="#" onclick="activePanel(this.parentNode,'today');">Today</a></li>
    <li class="tab__control__item"><a href="#" onclick="activePanel(this.parentNode,'week');">Week</a></li>
    <li class="tab__control__item"><a href="#" onclick="activePanel(this.parentNode,'oneDay');">Some Day</a></li>
    <li class="active tab__control__item"><a href="#" onclick="activePanel(this.parentNode,'all');">All</a></li>
</nav>

<article id='box'>
	
</article>

