<form class="form-horizontal">
    <div class="row">
        <div class="form-group col-xs-8 ">
            <input type="text" class="form-control" id="new-task" placeholder="Should we do smth?">
        </div>
        <button type="submit" class="btn btn-default col-xs-4 " id='add-task'>Add Task</button>
    </div>
    <div id="radio-div">
        <label class="radio-inline">
            <input type="radio" name="deadline" id="todayRadio" value="today"> Today
        </label>
        <label class="radio-inline">
            <input type="radio" name="deadline" id="weekRadio" value="week"> This Week
        </label>
        <label class="radio-inline">
            <input type="radio" name="deadline" id="oneDayRadio" value="oneDay" checked> Some Day
        </label>
    </div>
</form>

